.classpath
.project
.cache
*.class
*.log

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# local SBT plugins
.plugins.sbt

# Scala-IDE specific
.scala_dependencies
.DS_Store

# IDEA specific
.idea/
.idea_modules/
