language: scala
sudo: false
addons:
  apt:
    packages:
    - numactl
    - libnuma1
    - libnuma-dev
    - libnuma-dbg
cache:
  directories:
  - $HOME/.ivy2
  - $HOME/.sbt
  - $HOME/ssl
  - $HOME/mongodb-linux-x86_64-amazon-3.2.8
env:
  - PLAY_VERSION=2.5.0
  - PLAY_VERSION=2.5.9
scala: 2.11.8
jdk: oraclejdk8
before_install: ./.ci_scripts/beforeInstall.sh
script: ./.ci_scripts/validate.sh
after_success: ./.ci_scripts/afterSuccess.sh
