@(message: String)(implicit request: RequestHeader)

@main("Welcome to Play 2.0") {
    
    <script type="text/javascript" charset="utf-8">

    $(function() {
      Backbone.sync = function(method, model, options) {
        // Default options, unless specified.
        options || (options = {});

        var params = {};

        // Ensure that we have the appropriate request data.
        if (!options.data && model && (method == 'create' || method == 'update')) {
          params.data = model.toJSON();
          params.type = "castor";
        }

        console.log("syncing...");
        if(options.collection && options.collection.ws) {
          console.log("params:"+JSON.stringify(params));
          options.collection.ws.send(params);
        }
      }

      var uuid = "";

      WebSocketConnector = function(url) {
        this.url = url;
        var self = this;

        self.send = function(data){
          if(uuid != "") data.data.uuid = uuid;
          if(self.ready){
            this.socket.send(JSON.stringify(data));
          }
        }

        self.receiveEvent = function(event) {
          var data = JSON.parse(event.data)
          console.log(event.data);
          var type = data.type;
          if(type == "connect") {
            uuid = data.uuid;
            console.log("received uuid:"+uuid);
          }
          else if(type == "castor"){
            castors.add(new Castor(data.data));
          }
          return data;
        }


        var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket;
        self.socket = new WS(this.url);
        self.socket.onmessage = _(this.receiveEvent).bind(this);
        
        self.socket.onopen = function() {
          self.ready = true;
          self.send({ "type" : "connect", "data" : { } });
        }
      }  

      var Castor = Backbone.Model.extend({
        defaults: {
          "title": "chboing"
        },
        initialize: function() {
          if (!this.get("title")) {
            this.set({"title": this.defaults.title});
          }
        }
      })

      var CastorColl = Backbone.Collection.extend({
        model: Castor,
        
        initialize: function(models, args) {
          this.ws = new WebSocketConnector(args.url);
        }
        
      })

      CastorView = Backbone.View.extend({
        tagName:  "li",
        template: _.template($('#castor-template').html()),
        render: function() {
          $(this.el).html(this.template(this.model.toJSON()));
          return this;
        }
      });

      var castors = new CastorColl([ ], {"url" : "@routes.Application.watchCastors.webSocketURL()"})
      
      AppView = Backbone.View.extend({
        el: $("#castors"),
        
        events: {
          "keypress #new-castor":  "createOnEnter"
        },

        initialize: function() {
          this.input = this.$("#new-castor");
          this.main = $("#main");

          castors.bind('add', this.addOne, this);

          castors.fetch();
        },

        render: function() {
          if (castors.length) {
            this.main.show();
          } else {
            this.main.hide();
          }
        },

        addOne: function(castor) {
          var view = new CastorView({model: castor});
          this.$("#castor-list").prepend(view.render().el);
        },

        addAll: function() {
          castors.each(this.addOne);
        },

        createOnEnter: function(e) {
          if (e.keyCode != 13) return;
          if (!this.input.val()) return;

          castors.create({ title: this.input.val(), created: /*{ "$date" :*/ new Date().getTime() /*}*/});
          this.input.val('');
        }
      });

      var app = new AppView;

      $('#tags').tagsInput({
        defaultText: "Add a filter",
        'onAddTag': function(tag) {
          jsRoutes.controllers.Application.addFilters(uuid).ajax({
            contentType: 'application/json', 
            data : JSON.stringify({
              "filters": [ tag ]
            })
          });
        },
        'onRemoveTag': function(tag) {
          jsRoutes.controllers.Application.removeFilters(uuid).ajax({
            contentType: 'application/json', 
            data : JSON.stringify({
              "filters": [ tag ]
            })
          });
        }
      });
    })

    </script>

    <script type="text/template" id="castor-template">
      <dl>
        <dh><%= prettyDate(new Date(created)) %></dh>
        <dt><%= title %></dt>
      </dl>
    </script>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span8">
          <div id="castors" class="well sidebar-nav">
              <header>
                <input id="new-castor" type="text" placeholder="What wanna say castor ?">
              </header>

              <section id="main">
                <h6>broadcastors</h6>
                <ul id="castor-list" class="nav nav-list">
                </ul>
              </section>
          </div>
        </div>
        <div class="span4">
          <input name="tags" id="tags" value="" />
        </div>
      </div>
    </div>
}

